<br><b>Cost estimation</b>

<b>Option 1: cost of unit</b>

<br>unit to estimate: 
<select id="mod_cost_select_units">
  <option>m</option>
  <option>cm</option>
  <option>inc</option>
</select>

<br>cost of unit: <span id="locale_units">{{ locale_units }}</span>
&nbsp;<input type="text" id="mod_cost_select_units" size="3" value="25">

<b>Option 2: cost of hour</b>
<br>
<br>
<span id="mod_cost_total_hours"></span>

<br>cost of hour (€, $ or anything else):
&nbsp;<input type="text" id="mod_cost_of_hour" size="3" value="25">

<span id="mod_cost_total_cost"></span>